<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}WikiStack{% endblock %}</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet"></link>
  <style>
    .addpage {
      margin-right:10px;
    }
    .articlelist {
      margin-top:20px;
    }
  </style>
</head>
<body>
  <div class = "container">
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="/">Wikistack</a>
    </nav>


{% block content %}{% endblock %}
  <footer>
    <p>Alex and Roger Wikistack</p>
  </footer>
  </div>
  </body>
</html>
